# Ignore executables
bubblesort
swap
iteration
garbage
memory
agree
conditionals
commandlineargs
get
dynamicArray
scores
recursion
meow
calculator
debug
hello
marioexercise
phonebook
list
storeval
files
uppercase
copy
addresses
length
compare
searchalgo
chars
pointers
arrow
linkedlist